<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-resume" role="menuitem"><a href="{{site.baseurl}}resume/">Resume</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.baseurl}}tag/projects/">Projects</a></li>
    <li class="nav-tech" role="menuitem"><a href="{{site.baseurl}}tag/tech/">Tech</a></li>
    <li class="nav-programming" role="menuitem"><a href="{{site.baseurl}}tag/programming/">Programming</a></li>
    <li class="nav-design-pattern" role="menuitem"><a href="{{site.baseurl}}tag/design-pattern/">Design Pattern</a></li>
    <li class="nav-algorithm" role="menuitem"><a href="{{site.baseurl}}tag/algorithm/">Algorithm</a></li>
    <li class="nav-etc" role="menuitem"><a href="{{site.baseurl}}tag/etc/">Etc</a></li>
</ul>
