<nav class="site-nav">
    <div class="site-nav-left"></div>
    <div class="site-nav-right-mobile">
        <div class="social-links">
            {% if site.email %}
                <a class="social-link social-link-tw" href="mailto:{{ site.email }}" target="_blank" rel="noopener">{% include email.html %}</a>
            {% endif %}
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
            {% endif %}
            <a class="social-link social-link-rss" href="https://feedly.com/i/subscription/feed/{{ site.url }}{{ site.baseurl }}feed.xml" target="_blank" rel="noopener">{% include rss.html %}</a>
            {% if site.subscribers %}
            <!-- <a class="subscribe-button" href="#subscribe">search</a> -->
            <a class="social-link social-link-fb" href="#subscribe" >{% include search-icon.html %}</a>
            {% endif %}
        </div>
    </div>
</nav>
